/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global typeface */
 @font-face {
  font-family: Degheest;
  src: url(Latitude-Regular.woff);
}

body {
    font-family: Degheest, sans-serif;
    font-size: 16px;
    background: #fcfcff; /*#F8F8FF;   #f7f4fb; */
}

/* hr width consistently across browsers */
hr {
  border: none;
  height: 1px;
  background: black;
  margin: 1em 0; /* optional spacing */
}

/* flexbox layout */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* navigation */
nav {
    width: 23%;
    height: 700px;
    padding: 30px;
    background: #fcfcff;  /* #f7f4fb; */
    border-right: 1px solid black;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

/* columns? */
* {
  box-sizing: border-box;
}

/* Use Flexbox for columns */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.column-wide {
  flex: 2;
  padding: 10px;
  min-width: 250px;
}

.column-narrow {
  flex: 1;
  padding: 10px;
}

/* Responsive for mobile/small sites */
@media (max-width: 600px) {
  .column,
  .column-narrow {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


.pic {
  max-width: 200px;
  max-height: 230px;
  width: 100%;
  height: auto;
}



/* links */
a {
    color: black;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #3b4a1e
}

/* no underline designation */
.no-underline {
  text-decoration: none !important;
}

/* article */
article {
    width: 57%;
    padding: 35px;
    height: 700px;
    flex-grow: 1;
    min-width: 0;
}

/* paragraph and list typeface */
p,
.p {
	font-family: Helvetica, sans-serif;
	}

	
/* responsive to small sites*/
@media (max-width: 900px) {
  .container {
      flex-direction: column;
  }

  nav {
      width: 100%;
      height: auto;
      border-right: none;
      border-bottom: 1px solid black;
  }

  article {
      width: 100%;
      height: auto;
  }
}
